body{
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;

    background:
    linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW92aWUlMjB0aGVhdGVyfGVufDB8fDB8fHww");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color:white;
}

.container{
    width:700px;

    margin:40px auto;

    background-color:#111;

    padding:30px;

    border-radius:20px;

    box-shadow:0 0 20px red;
}

h1{
    text-align:center;

    color:red;

    font-size:40px;

    text-shadow: 0 0 10px red;

    margin-bottom:30px;
}

h2{
    color:red;
}

label{
    font-weight:bold;
}

select,
input{
    width:100%;

    padding:12px;

    border:none;

    border-radius:10px;

    margin-top:5px;

    background:#222;

    color:white;

    font-size:16px;
}

select:focus,
input:focus{
    outline:none;

    box-shadow:0 0 8px red;
}

button{
    width:100%;

    padding:15px;

    font-size:18px;

    font-weight:bold;

    background:red;

    color:black;

    border:none;

    border-radius:10px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    background: red;

    transform:scale(1.03);
}

#resultado{
    margin-top:30px;

    padding:20px;

    background:#222;

    border-left:8px solid red;

    border-radius:10px;

    color:white;
}